################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ShortStory/ShortStoryBOL/obj
/ShortStory/ShortStoryBOL/bin/Debug/netcoreapp2.2
/ShortStory/.vs/ShortStory/v16/Server/sqlite3
